<!-- views/pages/defaultlist.ejs -->
<h1><%=title%></h1>
<div class='mnow-toolbar row'>
	<div class='col-xs-12'>
		<% for (var i =0 ; i<buttons.length ; i++ ) { %>
		<div class="btn-group" role="group" aria-label="...">
			<% for (var j =0 ; j<buttons[i].length ; j++ ) { %>
				<button id="<%=buttons[i][j].id%>" type="button" class="btn btn-default"><span class="glyphicon <%=buttons[i][j].glyph%>" title=""></span><%=buttons[i][j].label%></button>
			<% } %>
		</div>
		<% } %>
	</div>
</div>
<div class='mnow-idcard row'>
	<div class='col-xs-12'>
		<div class="panel panel-default">
		  <div class="panel-body">
			<div class='row'>
				<div class='col-xs-12'>
					<h3 class='capitalize'><%= type %></h3>
				</div>
				<% for (var property in object) { %>
					<div class='col-xs-6 col-sm-3 col-lg-2'>
						<b><%= property %></b>
					</div>
					<div class='col-xs-6 col-sm-3 col-lg-2'>
						<%= resolved_object[property] %>
					</div>
				<% } %>
			</div>
		  </div>
		</div>
	</div>

	<div class='col-xs-12'>
		<div class="panel panel-default">
		  <div class="panel-body">
			<% for (var property in references) { %>
				<div class='row'>
					<h3 class='capitalize'><%= property %></h3>
					<div class='col-xs-12'>
					<%= references[property] %>
					</div>
				</div>
			<% } %>
		  </div>
		</div>
	</div>
	
</div>
<div class='mnow-list row'>
	<div class='col-xs-12'>
	</div>
</div>